h1 {
	font-weight: Bold;
	
}

h2 {
	font-weight: Bold;
	text-decoration: underline;
}

h3 {
	font-weight: Bold;
	
}

#Header {
	width: 100%;
}

#Skills {
	margin: 0vh auto;
	width: 85%;
}

#Skills ul {
	margin: 0vh auto;
}

#Education {
	width: 100%;
}

#Education td {
	font-size: 18px;
}

footer {
	text-align: center;
	font-size: 12px;
	color: black;
	margin-bottom: 5vh;
}

.WorkDate {
	font-size: 18px;
	margin-top: -20px;
}

.Left {
	text-align: left;
}

.Right {
	text-align: right;
}

.DEBUG {
	border: 1px solid black;
}